.cart {
  display: flex;
  flex-direction: row;
  margin-top: 32px;

  &__items {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__labels {
      display: flex;
      padding: 16px 0px;
      justify-content: space-between;
    }
  }
}

.checkout-form {
  display: flex;
}
